#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.todo-container {
  max-width: 500px;
  margin: auto;
  background: #1e1e1f;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
}
.input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input-group input {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.input-group button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.input-group button:hover {
  background-color: #0056b3;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.filter-buttons button {
  padding: 0.5rem 1rem;
  background: #575555;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.filter-buttons .active {
  background: #007bff;
  color: white;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 0;
  border-bottom: 1px solid #ddd;
}

.todo-item span.completed {
  text-decoration: line-through;
  color: #999;
}

